<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.property.management.mapper.BulletinMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.property.management.entity.Bulletin">
        <id column="bulletin_id" property="bulletinId"/>
        <result column="title" property="title"/>
        <result column="date" property="date"/>
        <result column="content" property="content"/>
    </resultMap>

</mapper>
